COMPANY_NAME="Vercel Inc."
TWITTER_CREATOR="@vercel"
TWITTER_SITE="https://nextjs.org/commerce"
SITE_NAME="Next.js Commerce"
SHOPIFY_REVALIDATION_SECRET="123456789"
SHOPIFY_STOREFRONT_ACCESS_TOKEN="1c2da9d923dfc7fd9ad3b7fd9eb349e7"
SHOPIFY_STORE_DOMAIN="next-jsexample.myshopify.com"
